<<<<<<< HEAD
<% include header %>

   <!-----------模态对话框----------------------->
   <div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->

<% include footer %>
=======
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">  
   <script src="/javascripts/jquery-2.1.4.min.js"></script>
   <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<%include ui/head%>
  	
  	<% include ui/login %>
  </body>
</html>
>>>>>>> first commit
